################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/XFSampleApp/XFSampleApp.Android/obj
/XFSampleApp/XFSampleApp.iOS/obj
/XFSampleApp/.vs/XFSampleApp/v15
/XFSampleApp/XFSampleApp/obj
